body{
    font-family: Arial;
    text-align: center;
}

h1{
    color: blue;
    font-size: 40px;
}

p{
    font-size: 18px;
}
button{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
} 
a{
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}
body{
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}
h2{
    color: green;
    font-size: 28px;
}
p{
    font-size: 18px;
    margin: 10px;
}
h2{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
div{
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}
